/*Estilos Base - Para ser mejorados por el grupo Feature*/

body {
    background-color: white; /*Cambiar a #f4f4f4*/
    font-family: serif; /*Cambiar a sans-serif*/
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.rebajado {
    color: red;
    font-size: 32px;
    font-weight: bold;
}

header {
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

h1 {
color: super-mega-red;
}

/*El Grupo Feature puede añadir estilos para el footer aquí*/